<!DOCTYPE html>
<html lagn="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <!-- Quill Editor -->
    <script src="/assets/vendor/quill-1.3.7/quill.js"></script>
    <link href="/assets/vendor/quill-1.3.7/quill.snow.css" rel="stylesheet">

    <!-- Quill Environment -->
    <script src="/assets/js/env.js"></script>
</head>
<body>
    <div id="container" style="height: 500px;">

    </div>

    <button type="button" id="edit">수정모드</button>
    <button type="button" id="read">읽기모드</button>

    <script type="application/javascript">
        const quill = new Quill('#container', {
            modules: {
                toolbar: toolbarOptions
            },
            placeholder: '',
            theme: 'snow'
        });

        document.getElementById('edit').addEventListener('click', function () {
            quill.container.previousElementSibling.style.display = 'block';  // 툴바 보이게 처리
            quill.container.style.backgroundColor = '#FFFFFF';           // 백그라운드 컬러
            quill.enable(true);
        });

        document.getElementById('read').addEventListener('click', function () {
            quill.container.previousElementSibling.style.display = 'none';  // 툴바 안보이게 처리
            quill.container.style.border = '1px solid #ccc';
            quill.container.style.backgroundColor = '#F4F4F4';           // 백그라운드 컬러
            quill.enable(false);
        });

    </script>
</body>
</html>

