<!DOCTYPE html>
<html lagn="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <!-- Quill Editor -->
    <script src="/assets/vendor/quill-1.3.7/quill.js"></script>
    <link href="/assets/vendor/quill-1.3.7/quill.snow.css" rel="stylesheet">

    <!-- Quill Environment -->
    <script src="/assets/js/env.js"></script>
    <script src="/assets/js/quill-custom.js"></script>
</head>
<body>
    <div id="container" style="height: 500px;">

    </div>

    <button type="button" id="check">check</button>

    <script type="application/javascript">
        const quill = new Quill('#container', {
            modules: {
                toolbar: toolbarOptions,
                customOptions: true
            },
            placeholder: '',
            theme: 'snow'
        });

        document.getElementById('check').addEventListener('click', function () {
            let message = quill.isQuillEmpty() ? "empty" : "exist";
            alert(message);
        });

    </script>
</body>
</html>

